@font-face {
  font-family: "NanumGeumEunBoHwa";
  src: url("../assets/fonts/NanumGeumEunBoHwa.woff2") format("woff2");
  src: url("../assets/fonts/NanumGeumEunBoHwa.woff") format("woff");
  src: url("../assets/fonts/NanumGeumEunBoHwa.ttf") format("truetype");
}
